:root {
  --main-color: #5670EF;
}

.search {
  margin-top: 10%;
}

.search h1 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 3em;
}

 .search input[type=text] {
  width: 25rem;
  margin: 0 0 2% 0;
}

.search .buttons {
  margin-top: 5px;
}

.search button {
  margin: 1rem .425rem 0 0;
  width: 125px;
  height: 42px;
}

.icon {
  margin-right: 2px;
}

@media (max-width: 600px) {
  .search h1 {
    margin-bottom: 5em;
  }
  .search input[type=text] {
    width: 20rem;
  }

  .search h1 {
    margin-bottom: 2em;
  }
}
